---
import ProjectCard from './ProjectCard.astro'
import { projects } from '../../data/projects'
---

<section>
	{
		projects.map((project, idx) => {
			return <ProjectCard key={idx} {...project} />
		})
	}
</section>
