.btn {
	background-color: #ebef13;
	color: #000821;
	border: #000821;
	border-radius: 25px;
	padding: 1rem 3rem;
	cursor: pointer;
	transition: 0.3s ease;
	border-style: solid;
}

.btn:hover {
	color: #ebef13;
	background-color: #000821;
	border-color: #ebef13;
	border-style: solid;
}

.hero-btn {
	margin-top: 2rem;
	height: 4.5rem;
	width: 10rem;
	border-radius: 50px;
	font-size: 1rem;
	font-weight: 600;
	margin: 0.3rem;
}

@media screen and (max-width: 400px) {
	.hero-btn {
		height: 3.5rem;
		width: 9rem;
		font-size: 0.6rem;
	}
}
