---
import LanguageChip from './LangChip.astro'
import { skills } from '../../data/skills'
---

<style>
	.container {
		padding-left: 1rem;
		font-size: 1.15rem;
		word-break: break-word;
	}

	.chip-container {
		display: flex;
		padding-top: 1rem;
		flex-wrap: wrap;
	}

	.more-data {
		display: none;
	}

	@media screen and (min-width: 1024px) {
		.tech {
			display: none;
		}

		.more-data {
			display: block;
		}
	}

	@media screen and (max-width: 300px) {
		.container {
			padding: none;
		}
	}
</style>
<section class="container">
	<p>
		I am a fullstack developer with extensive multidisciplinary work
		experience. I love learning new things every day and enjoy creating
		solutions and experiences that make a strong visual impact on users. I
		am a team player with excellent communication skills and thrive in
		collaborative environments.
	</p>
	<br />
	<p class="more-data">
		My experience as a fullstack developer has given me a unique perspective
		on developing simple websites and complex applications, with a strong
		focus on usability and user experience. I am excited about working with
		a great team to create cutting-edge solutions that push the boundaries
		of what is possible.
	</p>
	<div class="tech">
		I have experience with the following technologies:
		<div class="chip-container">
			{
				skills.map((tech, idx) => {
					return <LanguageChip name={tech.title} key={idx} />
				})
			}
		</div>
	</div>
</section>
